<a href="https://colab.research.google.com/github/deepanshuMeteor/QA-Big-Data-Fundamentals/blob/main/LIVE_22b_MongoAdv.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Big Data & NoSQL

## MongoDB: A Document Database

* Two conditions for using mongo:
    1. Queries mostly return join'd or hierachical data
    2. Most tables/data is sparse or differenly-structured
    
* Why do people really use mongo?
    * easy for software engineers to rapidly prototype applications
    * data model = application model
    * ie., your objects in db, *are* your objects in application
    * no ORM/SQL/etc. translation required
    
    
* Semi-Strucutrued
    * Collections of Documents
    * Each Document can have a different schema
    * You can query for documents matching a certain schema
    
* Queries
    * Document templates
    * Find matching documents
    * Match on:
        * fields existing
        * regular expression on values(, on fields ?)
        * fields having certain values
    * Aggregates & Group-Bys

In [ ]:
# documents = key-value structure
person_document1 = {
    'name': 'Michael',
    'fav_color': 'purple',
    'age': 18,
    'location': 'Old Street',
    'history': [
        {'location': 'Leeds', 'postcode': 'LS1 1LU'},
        {'location': 'Paris', 'postcode': 'Notre'},
        {'location': 'New York', 'postcode': '90210'},
    ],
}

person_document2 = {
    'name': 'Sherlock',
    'age': 18,
    'fav_hat': 'deer stalker',
    'location': 'Baker Street',
    'history': [
        {'location': 'Manchester', 'postcode': 'MA1 1AP'},
        {'location': 'Paris', 'postcode': 'Notre'},
        {'location': 'New York', 'postcode': '90210'},
    ]
}

# collection = many documents
people_collection = [person_document1, person_document2] # list of documents

In [ ]:
db.people.insert_one(person_document2)

## Exercise: MongoDB

### Part 1
* go to mongodb.com
* TRY FREE
    * SIGN UP (with any email)
    * CREATE **FREE** CLUSTER
    * GREEN **"CREATE CLUSTER"** BUTTON in BOTTOM RIGHT

* Clusters Screen
    * Under the Cluster0
    * Press CONNECT
    * Press "Add Your Current IP Address"
        * Pres "Add IP Address"
    * Create a User
        * eg., admin/1234
    * Press "Create MongoDB User"
    * Press "Choose a connection method"
    * Press "Connect to Your Application"
        * Choose "Python" in drop down, and version "3.6+"
        * Choose "full driver example"
            * Press "Copy" 
            * Create a new notebook and paste into a cell 

### Part 2:
* Run `!pip install pymongo dnspython` until it reads `Requirement already satisfied`
* Add `import pymongo`
* Change `<password>` in the connection string to the password you set for the admin user

In [ ]:
!pip install pymongo dnspython

Requirement already satisfied: pymongo in c:\users\michael\anaconda3\lib\site-packages (3.10.1)
Requirement already satisfied: dnspython in c:\users\michael\anaconda3\lib\site-packages (1.16.0)

In [ ]:
import pymongo

In [ ]:
client = pymongo.MongoClient("mongodb+srv://admin:1234@cluster0-snejj.mongodb.net/test?retryWrites=true&w=majority")
db = client.people

In [ ]:
db

Database(MongoClient(host=['cluster0-shard-00-00-snejj.mongodb.net:27017', 'cluster0-shard-00-01-snejj.mongodb.net:27017', 'cluster0-shard-00-02-snejj.mongodb.net:27017'], document_class=dict, tz_aware=False, connect=True, retrywrites=True, w='majority', authsource='admin', replicaset='Cluster0-shard-0', ssl=True), 'people')

In [ ]:
db.create_collection('people')

Collection(Database(MongoClient(host=['cluster0-shard-00-00-snejj.mongodb.net:27017', 'cluster0-shard-00-01-snejj.mongodb.net:27017', 'cluster0-shard-00-02-snejj.mongodb.net:27017'], document_class=dict, tz_aware=False, connect=True, retrywrites=True, w='majority', authsource='admin', replicaset='Cluster0-shard-0', ssl=True), 'people'), 'people')

In [ ]:
db.people.insert_one(person_document2).inserted_id

ObjectId('5ebbe72d8486799b3e8215b1')

In [ ]:
list(db.people.find())

[{'_id': ObjectId('5ebbe7128486799b3e8215b0'),
  'name': 'Michael',
  'fav_color': 'purple',
  'age': 18,
  'location': 'Old Street',
  'history': [{'location': 'Leeds', 'postcode': 'LS1 1LU'},
   {'location': 'Paris', 'postcode': 'Notre'},
   {'location': 'New York', 'postcode': '90210'}]},
 {'_id': ObjectId('5ebbe72d8486799b3e8215b1'),
  'name': 'Sherlock',
  'age': 18,
  'fav_hat': 'deer stalker',
  'location': 'Baker Street',
  'history': [{'location': 'Manchester', 'postcode': 'MA1 1AP'},
   {'location': 'Paris', 'postcode': 'Notre'},
   {'location': 'New York', 'postcode': '90210'}]}]

In [ ]:
people_collection

[{'name': 'Michael',
  'fav_color': 'purple',
  'age': 18,
  'location': 'Old Street',
  'history': [{'location': 'Leeds', 'postcode': 'LS1 1LU'},
   {'location': 'Paris', 'postcode': 'Notre'},
   {'location': 'New York', 'postcode': '90210'}],
  '_id': ObjectId('5ebbe7128486799b3e8215b0')},
 {'name': 'Sherlock',
  'age': 18,
  'fav_hat': 'deer stalker',
  'location': 'Baker Street',
  'history': [{'location': 'Manchester', 'postcode': 'MA1 1AP'},
   {'location': 'Paris', 'postcode': 'Notre'},
   {'location': 'New York', 'postcode': '90210'}],
  '_id': ObjectId('5ebbe72d8486799b3e8215b1')}]

In mongo..

In [ ]:
list(db.people.find())[1]['history'][0]['postcode']

'MA1 1AP'

In python...

In [ ]:
people_collection[1]['history'][0]['postcode']

'MA1 1AP'

### Querying

In [ ]:
query = {
    'age': 18
}

Result of a `find` query is a cusor... which can be looped over efficiently reading one row at a time.

Converting to a `list()`, runs the cursor to the end of the result set, ie., loads all the results into memory at once.

In [ ]:
for doc in db.people.find(query):
    print(doc['_id'], doc['name'])

5ebbe7128486799b3e8215b0 Michael
5ebbe72d8486799b3e8215b1 Sherlock

### Exercise

* You are a data scientist asked to store hierachical documents which describe:
    * eg., a customers' credit history, health data, product purchase history
    
* Using `db.collection_name.insert_one(doc)` and `.insert_many([doc1, doc2 ])` insert some documents for three customers
    * eg., {name:..., purchases:[ ... ], ... }
    
* Using `find` list all of the documents in that collection (`list()`) 

* Using `find` loop over all documents and report features of the customers

* Using `find` query to obtain matching documents that correspond to a template
    * eg., `.find({'age': 18})`
    * and loop over these results

## Dynamic Querying

### Reguluar Expressions

Does a field's value match a regular expression (text template).

In [ ]:
import re

In [ ]:
startswith_s = re.compile('^[sS]')

In [ ]:
results = db.people.find({
    'name': startswith_s
})

In [ ]:
list(results)

[{'_id': ObjectId('5ebbe72d8486799b3e8215b1'),
  'name': 'Sherlock',
  'age': 18,
  'fav_hat': 'deer stalker',
  'location': 'Baker Street',
  'history': [{'location': 'Manchester', 'postcode': 'MA1 1AP'},
   {'location': 'Paris', 'postcode': 'Notre'},
   {'location': 'New York', 'postcode': '90210'}]}]

### Existence Tests

Does a document have a field?

In [ ]:
list(
    db.people.find({
        'fav_color': {'$exists': True}
    })
)

[{'_id': ObjectId('5ebbe7128486799b3e8215b0'),
  'name': 'Michael',
  'fav_color': 'purple',
  'age': 18,
  'location': 'Old Street',
  'history': [{'location': 'Leeds', 'postcode': 'LS1 1LU'},
   {'location': 'Paris', 'postcode': 'Notre'},
   {'location': 'New York', 'postcode': '90210'}]}]

In [ ]:
list(
    db.people.find({
        'fav_color': {'$exists': False}
    })
)

[{'_id': ObjectId('5ebbe72d8486799b3e8215b1'),
  'name': 'Sherlock',
  'age': 18,
  'fav_hat': 'deer stalker',
  'location': 'Baker Street',
  'history': [{'location': 'Manchester', 'postcode': 'MA1 1AP'},
   {'location': 'Paris', 'postcode': 'Notre'},
   {'location': 'New York', 'postcode': '90210'}]}]

### Membership Tests
Is location one of ... ?

In [ ]:
list(
    db.people.find({
        'location': {'$in': ['Old Street', 'Baker Street']}
    })
)

[{'_id': ObjectId('5ebbe7128486799b3e8215b0'),
  'name': 'Michael',
  'fav_color': 'purple',
  'age': 18,
  'location': 'Old Street',
  'history': [{'location': 'Leeds', 'postcode': 'LS1 1LU'},
   {'location': 'Paris', 'postcode': 'Notre'},
   {'location': 'New York', 'postcode': '90210'}]},
 {'_id': ObjectId('5ebbe72d8486799b3e8215b1'),
  'name': 'Sherlock',
  'age': 18,
  'fav_hat': 'deer stalker',
  'location': 'Baker Street',
  'history': [{'location': 'Manchester', 'postcode': 'MA1 1AP'},
   {'location': 'Paris', 'postcode': 'Notre'},
   {'location': 'New York', 'postcode': '90210'}]}]

### Exercise

* Find documents which match the following kinds of conditions:
    * Regular Expression
    * Existence test
    * Membership test
    
* EXTRA:
    * Review MongoDB querying summary guide
    * Formualte more complex test (eg., using `$and`, `$or`, ...)
    * ADVANCED: Also try `$groupby`

### Element Matching

Find documents where a fields value**s** match some query (ie., the field is an array). 

Eg., find people which have an address history containing/matching Manchester.

In [ ]:
list(
    db.people.find({
        'history': { '$elemMatch': {'location': 'Manchester'} }
    })
)

[{'_id': ObjectId('5ebbe72d8486799b3e8215b1'),
  'name': 'Sherlock',
  'age': 18,
  'fav_hat': 'deer stalker',
  'location': 'Baker Street',
  'history': [{'location': 'Manchester', 'postcode': 'MA1 1AP'},
   {'location': 'Paris', 'postcode': 'Notre'},
   {'location': 'New York', 'postcode': '90210'}]}]

### Aggregates

In [ ]:
db.sales.insert_many([{
    'name': 'A' ,
    'amount': 2,
    'pricePerItem': 1.2,
    'store': 'Leeds',
},
{
    'name':'B' ,
    'amount': 3,
    'pricePerItem': 1.1,
    'store': 'Leeds',
},
{
    'name':'C' ,
    'amount': 6,
    'pricePerItem': 1.2,
    'store': 'London',
},
{
    'name':'D' ,
    'amount': 1,
    'pricePerItem': 1.3,
    'store': 'London',
}])


list(db.sales.find())

[{'_id': ObjectId('5ebbf7f38486799b3e8215b2'),
  'name': 'A',
  'amount': 2,
  'store': 'Leeds'},
 {'_id': ObjectId('5ebbf7f38486799b3e8215b3'),
  'name': 'B',
  'amount': 3,
  'store': 'Leeds'},
 {'_id': ObjectId('5ebbf7f38486799b3e8215b4'),
  'name': 'C',
  'amount': 6,
  'store': 'London'},
 {'_id': ObjectId('5ebbf7f38486799b3e8215b5'),
  'name': 'D',
  'amount': 1,
  'store': 'London'},
 {'_id': ObjectId('5ebbf8ec8486799b3e8215b6'),
  'name': 'A',
  'amount': 2,
  'pricePerItem': 1.2,
  'store': 'Leeds'},
 {'_id': ObjectId('5ebbf8ec8486799b3e8215b7'),
  'name': 'B',
  'amount': 3,
  'pricePerItem': 1.1,
  'store': 'Leeds'},
 {'_id': ObjectId('5ebbf8ec8486799b3e8215b8'),
  'name': 'C',
  'amount': 6,
  'pricePerItem': 1.2,
  'store': 'London'},
 {'_id': ObjectId('5ebbf8ec8486799b3e8215b9'),
  'name': 'D',
  'amount': 1,
  'pricePerItem': 1.3,
  'store': 'London'}]

In [ ]:
list(
    db.sales.aggregate([{
        "$group": {
            "_id": "$store",
            "avgSales": {"$avg": "$amount"},
            "avgPrice": { "$avg": "$pricePerItem"}  # docs-with-field-at-Store / docs-with-field
        }
    }])
)

[{'_id': 'London', 'avgSales': 3.5, 'avgPrice': 1.25},
 {'_id': 'Leeds', 'avgSales': 2.5, 'avgPrice': 1.15}]

----

In [ ]:
people_collection[1]['fav_color']

KeyError: 'fav_color'

In [ ]:
class Person:
    def __init__(self, name):
        self.name = name
        
        
me = Person("Michael")

In [ ]:
insert(vars(me))

{'name': 'Michael'}

* Choose (or create) the `test` database

In [ ]:
db = client.eg

In [ ]:
db.create_collection('restaurants')

Collection(Database(MongoClient(host=['cluster0-shard-00-02-rc46y.mongodb.net:27017', 'cluster0-shard-00-01-rc46y.mongodb.net:27017', 'cluster0-shard-00-00-rc46y.mongodb.net:27017'], document_class=dict, tz_aware=False, connect=True, retrywrites=True, w='majority', authsource='admin', replicaset='Cluster0-shard-0', ssl=True), 'eg'), 'restaurants')

In [ ]:
db.restaurants.insert_one({
    "name": "nandos",
    "category": ["chicken", "peri peri", "burger"],
    "locations": [
        {"name": "Mike's Perir Peri Palace", "postcode": "LS1 1AA"},
        {"name": "Liz's Perir Peri Palace", "postcode": "SW1 1AA"},
    ]
})

In [ ]:
list(db.restaurants.find())

[{'_id': ObjectId('5e43e569fad8d81f916430a1'),
  'name': 'nandos',
  'category': ['chicken', 'peri peri', 'burger'],
  'locations': [{'name': "Mike's Perir Peri Palace", 'postcode': 'LS1 1AA'},
   {'name': "Liz's Perir Peri Palace", 'postcode': 'SW1 1AA'}]}]

In [ ]:
for doc in db.restaurants.find():
    print(doc['name'], 'is at', doc['locations'][0]['postcode'])

nandos is at LS1 1AA

### Exercise

* Review the mongo summary querying guide
    * Using db.restaurants.insert_one(), create & insert several documents  
    * Using db.restaurants.find(), query the collection to obtain relevant inforamtion
    
* HINT: ensure the documents you are inserting have the right structure for your queries
* HINT: the python API uses underscores (`_`)

In [ ]:
db.restaurants.insert_many([
    {
        "name": "nandos",
        "category": ["chicken", "peri peri", "burger"],
        "price": 10,
        "locations": [
            {"name": "Mike's Perir Peri Palace", "postcode": "LS1 1AA"},
            {"name": "Liz's Perir Peri Palace", "postcode": "SW1 1AA"},
        ]
    },
    {
        "name": "cafe rouge",
        "category": ["french", "wine"],
        "price": 25,
        "locations": [
            {"name": "Ellen's French Diner", "postcode": "LS2 1AA"},
        ]
    },
    {
        "name": "cafe gordon ramsy",
        "price": 200,
        "category": ["french", "british"],
        "locations": [
            {"name": "Gordon's Gin Joint", "postcode": "w1 1AA"},
        ]
    },
    
])

In [ ]:
list(db.restaurants.find({
    'name': 'nandos'
}))

[{'_id': ObjectId('5e43e569fad8d81f916430a1'),
  'name': 'nandos',
  'category': ['chicken', 'peri peri', 'burger'],
  'locations': [{'name': "Mike's Perir Peri Palace", 'postcode': 'LS1 1AA'},
   {'name': "Liz's Perir Peri Palace", 'postcode': 'SW1 1AA'}]},
 {'_id': ObjectId('5e43e866fad8d81f916430a2'),
  'name': 'nandos',
  'category': ['chicken', 'peri peri', 'burger'],
  'locations': [{'name': "Mike's Perir Peri Palace", 'postcode': 'LS1 1AA'},
   {'name': "Liz's Perir Peri Palace", 'postcode': 'SW1 1AA'}]},
 {'_id': ObjectId('5e43e8f6fad8d81f916430a5'),
  'name': 'nandos',
  'category': ['chicken', 'peri peri', 'burger'],
  'locations': [{'name': "Mike's Perir Peri Palace", 'postcode': 'LS1 1AA'},
   {'name': "Liz's Perir Peri Palace", 'postcode': 'SW1 1AA'}]},
 {'_id': ObjectId('5e43e980fad8d81f916430a8'),
  'name': 'nandos',
  'category': ['chicken', 'peri peri', 'burger'],
  'price': 10,
  'locations': [{'name': "Mike's Perir Peri Palace", 'postcode': 'LS1 1AA'},
   {'name': "Liz's Perir Peri Palace", 'postcode': 'SW1 1AA'}]}]

In [ ]:
list(db.restaurants.find({
    'name': {'$eq': 'nandos'}
}))

[{'_id': ObjectId('5e43e569fad8d81f916430a1'),
  'name': 'nandos',
  'category': ['chicken', 'peri peri', 'burger'],
  'locations': [{'name': "Mike's Perir Peri Palace", 'postcode': 'LS1 1AA'},
   {'name': "Liz's Perir Peri Palace", 'postcode': 'SW1 1AA'}]}]

In [ ]:
list(db.restaurants.find({
    'name': {'$in':  ['nandos', 'cafe rouge']}
}))

[{'_id': ObjectId('5e43e569fad8d81f916430a1'),
  'name': 'nandos',
  'category': ['chicken', 'peri peri', 'burger'],
  'locations': [{'name': "Mike's Perir Peri Palace", 'postcode': 'LS1 1AA'},
   {'name': "Liz's Perir Peri Palace", 'postcode': 'SW1 1AA'}]},
 {'_id': ObjectId('5e43e866fad8d81f916430a2'),
  'name': 'nandos',
  'category': ['chicken', 'peri peri', 'burger'],
  'locations': [{'name': "Mike's Perir Peri Palace", 'postcode': 'LS1 1AA'},
   {'name': "Liz's Perir Peri Palace", 'postcode': 'SW1 1AA'}]},
 {'_id': ObjectId('5e43e866fad8d81f916430a3'),
  'name': 'cafe rouge',
  'category': ['french', 'wine'],
  'locations': [{'name': "Ellen's French Diner", 'postcode': 'LS2 1AA'}]},
 {'_id': ObjectId('5e43e8f6fad8d81f916430a5'),
  'name': 'nandos',
  'category': ['chicken', 'peri peri', 'burger'],
  'locations': [{'name': "Mike's Perir Peri Palace", 'postcode': 'LS1 1AA'},
   {'name': "Liz's Perir Peri Palace", 'postcode': 'SW1 1AA'}]},
 {'_id': ObjectId('5e43e8f6fad8d81f916430a6'),
  'name': 'cafe rouge',
  'category': ['french', 'wine'],
  'locations': [{'name': "Ellen's French Diner", 'postcode': 'LS2 1AA'}]},
 {'_id': ObjectId('5e43e980fad8d81f916430a8'),
  'name': 'nandos',
  'category': ['chicken', 'peri peri', 'burger'],
  'price': 10,
  'locations': [{'name': "Mike's Perir Peri Palace", 'postcode': 'LS1 1AA'},
   {'name': "Liz's Perir Peri Palace", 'postcode': 'SW1 1AA'}]},
 {'_id': ObjectId('5e43e980fad8d81f916430a9'),
  'name': 'cafe rouge',
  'category': ['french', 'wine'],
  'price': 25,
  'locations': [{'name': "Ellen's French Diner", 'postcode': 'LS2 1AA'}]}]

In [ ]:
import re

list(db.restaurants.find({
    'name': re.compile('^cafe')
}))

[{'_id': ObjectId('5e43e866fad8d81f916430a3'),
  'name': 'cafe rouge',
  'category': ['french', 'wine'],
  'locations': [{'name': "Ellen's French Diner", 'postcode': 'LS2 1AA'}]},
 {'_id': ObjectId('5e43e8f6fad8d81f916430a6'),
  'name': 'cafe rouge',
  'category': ['french', 'wine'],
  'locations': [{'name': "Ellen's French Diner", 'postcode': 'LS2 1AA'}]},
 {'_id': ObjectId('5e43e8f6fad8d81f916430a7'),
  'name': 'cafe gordon ramsy',
  'category': ['french', 'british'],
  'locations': [{'name': "Gordon's Gin Joint", 'postcode': 'w1 1AA'}]},
 {'_id': ObjectId('5e43e980fad8d81f916430a9'),
  'name': 'cafe rouge',
  'category': ['french', 'wine'],
  'price': 25,
  'locations': [{'name': "Ellen's French Diner", 'postcode': 'LS2 1AA'}]},
 {'_id': ObjectId('5e43e980fad8d81f916430aa'),
  'name': 'cafe gordon ramsy',
  'price': 200,
  'category': ['french', 'british'],
  'locations': [{'name': "Gordon's Gin Joint", 'postcode': 'w1 1AA'}]}]

In [ ]:
list(db.restaurants.find().limit(2))

[{'_id': ObjectId('5e43e569fad8d81f916430a1'),
  'name': 'nandos',
  'category': ['chicken', 'peri peri', 'burger'],
  'locations': [{'name': "Mike's Perir Peri Palace", 'postcode': 'LS1 1AA'},
   {'name': "Liz's Perir Peri Palace", 'postcode': 'SW1 1AA'}]},
 {'_id': ObjectId('5e43e866fad8d81f916430a2'),
  'name': 'nandos',
  'category': ['chicken', 'peri peri', 'burger'],
  'locations': [{'name': "Mike's Perir Peri Palace", 'postcode': 'LS1 1AA'},
   {'name': "Liz's Perir Peri Palace", 'postcode': 'SW1 1AA'}]}]